# Node modules (gælder for alle undermapper)
node_modules/

# Environment variables
.env
*.env

# Build outputs
dist/
build/

# Logs
*.log
logs/

# Docker
.docker/

# IntelliJ / DataGrip
.idea/
*.meta
*.zip
dataSources.xml
dataSources.local.xml
sqldialects.xml
workspace.xml
queries/