services:
  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: movie_db
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./seeder/movie-seed.sql:/docker-entrypoint-initdb.d/01-schema.sql
    ports:
      - "5432:5432"
    healthcheck:  # TILFØJ HEALTHCHECK
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    ports:
      - "5001:5000"
    environment:
      DATABASE_URL: postgresql://movie_app:movie_app_password@postgres:5432/movie_db
      TMDB_API_KEY: "1f6dc7215bb66ffdda1d1db32d0fb343"
    volumes:
    - ./backend:/app
    - /app/node_modules  # Undgå at overskrive node_modules
    depends_on:
      postgres:
        condition: service_healthy  # ← VENT på at postgres er healthy
    command: npm start


  seeder:
    build: ./seeder
    env_file:
      - ./seeder/.env
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: movie_db
      TMDB_API_KEY: "1f6dc7215bb66ffdda1d1db32d0fb343"
    depends_on:
      - postgres
    command: sh -c "sleep 10 && npm run seed"  # Mindre ventetid
    restart: "no"

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      - VITE_API_URL=http://localhost:5001
    depends_on:
      - backend

  adminer:
    image: adminer
    ports:
      - "8080:8080"
    depends_on:
      - postgres

volumes:
  postgres-data: